---
http_interactions:
- request:
    method: post
    uri: http://api.opensubtitles.org/xml-rpc
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" ?><methodCall><methodName>LogIn</methodName><params><param><value><string></string></value></param><param><value><string></string></value></param><param><value><string>eng</string></value></param><param><value><string>OS
        Test User Agent</string></value></param></params></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<methodResponse>\n<params>\n
        <param>\n  <value>\n   <struct>\n    <member>\n     <name>token</name>\n     <value>\n
        \     <string>0ij4vtkcg3lca6023sofhifom7</string>\n     </value>\n    </member>\n
        \   <member>\n     <name>status</name>\n     <value>\n      <string>200 OK</string>\n
        \    </value>\n    </member>\n    <member>\n     <name>seconds</name>\n     <value>\n
        \     <double>0.009</double>\n     </value>\n    </member>\n   </struct>\n
        \ </value>\n </param>\n</params>\n</methodResponse>\n"
  recorded_at: Sat, 03 Nov 2012 13:58:58 GMT
- request:
    method: post
    uri: http://api.opensubtitles.org/xml-rpc
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" ?><methodCall><methodName>CheckMovieHash</methodName><params><param><value><string>0ij4vtkcg3lca6023sofhifom7</string></value></param><param><value><array><data><value><string>37d0c7d0cfcbe280</string></value></data></array></value></param></params></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<methodResponse>\n<params>\n
        <param>\n  <value>\n   <struct>\n    <member>\n     <name>status</name>\n
        \    <v[...]
