---
http_interactions:
- request:
    method: post
    uri: http://api.opensubtitles.org/xml-rpc
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" ?><methodCall><methodName>GetIMDBMovieDetails</methodName><params><param><value><string>0ij4vtkcg3lca6023sofhifom7</string></value></param><param><value><string>0176415</string></value></param></params></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<methodResponse>\n<params>\n
        <param>\n  <value>\n   <struct>\n    <member>\n     <name>status</name>\n
        \    <value>\n      <string>200 OK</string>\n     </value>\n    </member>\n
        \   <member>\n     <name>data</name>\n     <value>\n      <struct>\n       <member>\n
        \       <name>cast</name>\n        <value>\n         <struct>\n          <member>\n
        \          <name>_0273178</name>\n           <value>\n            <string>Fernando
        Fern&#195;&#161;n G&#195;&#179;mez</string>\n           </value>\n          </member>\n
        \         <member>\[...]
