--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.opensubtitles.org/xml-rpc
    body: 
      string: |
        <?xml version="1.0" ?><methodCall><methodName>LogOut</methodName><params><param><value><string>qtqkphpa0us78eikqtdtg4jic7</string></value></param></params></methodCall>

    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      string: |-
        <methodResponse>
         <params>
          <param>
           <value>
            <struct>
             <member>
              <name>status</name>
              <value><string>200 OK</string></value>
             </member>
             <member>
              <name>seconds</name>
              <value><double>0.001</double></value>
             </member>
            </struct>
           </value>
          </param>
         </params>
        </methodResponse>
  recorded_at: Sun, 04 Nov 2012 17:11:35 GMT
recorded_with: VCR 2.3.0
