---
http_interactions:
- request:
    method: post
    uri: http://api.opensubtitles.org/xml-rpc
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" ?><methodCall><methodName>LogOut</methodName><params><param><value><string>0ij4vtkcg3lca6023sofhifom7</string></value></param></params></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<methodResponse>\n <params>\n  <param>\n   <value>\n    <struct>\n
        \    <member>\n      <name>status</name>\n      <value><string>200 OK</string></value>\n
        \    </member>\n     <member>\n      <name>seconds</name>\n      <value><double>0.001</double></value>\n
        \    </member>\n    </struct>\n   </value>\n  </param>\n </params>\n</methodResponse>"
  recorded_at: Sat, 03 Nov 2012 13:58:57 GMT
recorded_with: VCR 2.3.0
