--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.opensubtitles.org/xml-rpc
    body: 
      string: |
        <?xml version="1.0" ?><methodCall><methodName>SearchMoviesOnIMDB</methodName><params><param><value><string>qtqkphpa0us78eikqtdtg4jic7</string></value></param><param><value><string>Troy</string></value></param></params></methodCall>

    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <methodResponse>
        <params>
         <param>
          <value>
           <struct>
            <member>
             <name>status</name>
             <value>
              <string>200 OK</string>
             </value>
            </member>
            <member>
             <name>data</name>
             <value>
              <array>
               <data>
                <value>
                 <struct>
                  <member>
                   <name>id</name>
                   <value>
                    <string>0332452</string>
                   </value>
                  </member>
                  <member>
                   <name>title</name>
                   <value>
                    <string>Troy (2004) Photos (</string>
                   </value>
                  </member>
                 </struct>
                </value>
 [...]
