--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.opensubtitles.org/xml-rpc
    body: 
      string: |
        <?xml version="1.0" ?><methodCall><methodName>SearchSubtitles</methodName><params><param><value><string>qtqkphpa0us78eikqtdtg4jic7</string></value></param><param><value><array><data><value><struct><member><name>moviehash</name><value><string>bd71526264fd8bd9</string></value></member><member><name>moviebytesize</name><value><string>183406990</string></value></member><member><name>sublanguageid</name><value><string>fre</string></value></member></struct></value></data></array></value></param></params></methodCall>

    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <methodResponse>
        <params>
         <param>
          <value>
           <struct>
            <member>
             <name>status</name>
             <value>
              <string>200 OK</string>
             </value>
            </member>
            <member>
             <name>data</name>
             <value>
              <array>
               <data>
                <value>
                 <struct>
                  <member>
                   <name>MatchedBy</name>
                   <value>
       [...]
