---
http_interactions:
- request:
    method: post
    uri: http://api.opensubtitles.org/xml-rpc
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" ?><methodCall><methodName>SearchSubtitles</methodName><params><param><value><string>0ij4vtkcg3lca6023sofhifom7</string></value></param><param><value><array><data><value><struct><member><name>imdbid</name><value><string>0117500</string></value></member><member><name>sublanguageid</name><value><string>fre</string></value></member></struct></value></data></array></value></param></params></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<methodResponse>\n<params>\n
        <param>\n  <value>\n   <struct>\n    <member>\n     <name>status</name>\n
        \    <value>\n      <string>200 OK</string>\n     </value>\n    </member>\n
        \   <member>\n     <name>data</name>\n     <value>\n      <array>\n       <data>\n
        \       <value>\n         <struct>\n          <member>\n           <name>MatchedBy</name>\n
        \          <value>\n            <string>imdbid</string>\n           </value>\n
        \         </member>\n          <mem[...]
