---
http_interactions:
- request:
    method: post
    uri: http://api.opensubtitles.org/xml-rpc
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" ?><methodCall><methodName>SearchMoviesOnIMDB</methodName><params><param><value><string>0ij4vtkcg3lca6023sofhifom7</string></value></param><param><value><string>Troy</string></value></param></params></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<methodResponse>\n<params>\n
        <param>\n  <value>\n   <struct>\n    <member>\n     <name>status</name>\n
        \    <value>\n      <string>200 OK</string>\n     </value>\n    </member>\n
        \   <member>\n     <name>data</name>\n     <value>\n      <array>\n       <data>\n
        \       <value>\n         <struct>\n          <member>\n           <name>id</name>\n
        \          <value>\n            <string>0332452</string>\n           </value>\n
        \         </member>\n          <member>\n           <name>title</name>\n           <value>\n
        \           <string>Troy (2004) Photos (</string>\n           </value>\n          </member>\n
        \        </struct>\n        </value>\n        <value>\n         <struct>\n
        \         <member>\n  [...]
