---
http_interactions:
- request:
    method: post
    uri: http://api.opensubtitles.org/xml-rpc
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" ?><methodCall><methodName>ServerInfo</methodName><params/></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<methodResponse>\n<params>\n
        <param>\n  <value>\n   <struct>\n    <member>\n     <name>xmlrpc_version</name>\n
        \    <value>\n      <string>0.1</string>\n     </value>\n    </member>\n    <member>\n
        \    <name>xmlrpc_url</name>\n     <value>\n      <string>http://api.opensubtitles.org/xml-rpc</string>\n
        \    </value>\n    </member>\n    <member>\n     <name>application</name>\n
        \    <value>\n      <string>OpenSuber v0.2</string>\n     </value>\n    </member>\n
        \   <member>\n     <name>contact</name>\n     <value>\n      <string>admin@opensubtitles.org</string>\n
        \    </value>\n    </member>\n    <member>\n     <name>website_url</name>\n
        \    <value>\n      <string>http://www.opensubtitles.org</string>\n     </value>\n
        \   </member>\n    <member>\n     <name>users_online_total</name>\n     <value>\n
        \     <int>10015</int>\n     </value>\n    </member>\n    <member>\n     <name>users_online_program</name>\n
        \    <value>\n      <int>7403</int>\n     </value>\n    </member>\n    <member>\n
        \    <name>users_loggedin</name>\n     <value>\n      <int>84</int>\n     </value>\n
        \   </member>\n    <member>\n     <name>users_max_alltime</name>\n     <value>\n
        \     <string>27449</string>\n     </value>\n    </member>\n    <member>\n
        \    <name>users_registered</name>\n   [...]
